<a href="#/">Back to search</a>

<h2>Forecast for {{ city }}, for {{ days }} day(s).</h2>
<hr />
<h3>Choose number of days</h3>

<label class="radio-inline">
  <input type="radio" ng-model="days" value="1"> 1
</label>
<label class="radio-inline">
  <input type="radio" ng-model="days" value="2"> 2
</label>
<label class="radio-inline">
  <input type="radio" ng-model="days" value="3"> 3
</label>

<hr />
 
<h3>Choose units</h3>
<label class="radio-inline">
  <input type="radio" ng-model="units" value="metric"> C
</label>
<label class="radio-inline">
  <input type="radio" ng-model="units" value="imperial"> F
</label>
<hr />
<div ng-repeat="w in weatherResult.list">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ convertToDate(w.dt) | date: 'd MMM, y' }}</h3>
    </div>
    <div class="panel-body">
        Daytime temperature: {{ w.temp.day }}
    </div>
</div>
        </div>
    </div>

</div>